.signup-page {
  max-width: 750px;
  margin: 0 auto;

  form {
    margin-top: 1rem;
    border-radius: var(--border-radius);
    padding: 2rem;

    .name-field,
    .email-field,
    .password-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      span {
        margin-bottom: 0.5rem;
      }

      input {
        height: 40px;
      }

      input {
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        outline: none;
        border: none;
        color: #999;
        font-size: 1rem;
      }

      input:focus {
        box-shadow: 0 0 5px var(--blue);
      }
    }

    .profile-upload {
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
        margin-bottom: 1rem;
      }

      input {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .signup-page {
    margin: 0 1rem;
  }
}
