.dashboard {
  margin: 0 auto 0 auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  max-width: 750px;
  box-shadow: var(--shadow-1);
  margin-top: 1px;

  .user-name {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .image-search-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .search-st-640px {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .dashboard {
    .image-search-progress {
      img {
        width: 75px;
        height: 75px;
      }
      .search-gt-640px {
        display: none;
      }
    }

    .search-st-640px {
      margin: 1rem 0;
      display: block;
    }
  }
}
