.login-page {
  max-width: 750px;
  margin: 0 auto;

  form {
    margin-top: 1rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--shadow-1);

    .email-field,
    .password-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      span {
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
      }

      input {
        height: 40px;
      }

      input {
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        outline: none;
        border: none;
        color: #999;
        font-size: 1rem;
      }

      input:focus {
        box-shadow: 0 0 5px var(--blue-1);
      }
    }

    .priorities {
      margin: 1rem 0;

      #title {
        display: inline-block;
        margin-bottom: 1rem;
      }

      .options {
        display: flex;
        padding: 1rem;
        border-radius: var(--border-radius);

        .option {
          margin-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            font-weight: 400;
          }

          .check {
            height: 17.5px;
            width: 17.5px;
            border-radius: 50%;
            margin-right: 0.25rem;
          }
        }

        .option:hover {
          color: var(--blue);
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .login-page {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .login-page {
    form {
      padding: 1rem;
    }
  }
}
