.task {
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--shadow-1);

  .date-edit-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .edit-delete {
      .editBtn,
      .deleteBtn {
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        height: 35px;
        width: 35px;
        display: inline-block;

        span {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .editBtn {
        text-decoration: none;
        color: var(--blue-1);
      }

      .deleteBtn {
        color: var(--red-2);
        margin-left: 1rem;
      }

      .editBtn:hover,
      .deleteBtn:hover {
        transform: rotate(-15deg);
        transition: var(--transition);
      }
    }
  }

  .container-2 {
    position: relative;
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      min-height: 40px;
      margin-top: 1rem;
      border-radius: var(--border-radius);
      color: #fff;

      .down-icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        color: #fff;

        span {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
        }
      }

      .down-icon:hover {
        filter: brightness(70%);
      }
    }
  }
}
