.task {
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;
  //margin-bottom: 1rem;

  .edit-delete {
    display: flex;
    align-items: center;
    justify-content: end;

    .editBtn,
    .deleteBtn,
    .completeBtn {
      position: relative;
      border-radius: 50%;
      cursor: pointer;
      color: white;
      height: 35px;
      width: 35px;

      span {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .editBtn {
      text-decoration: none;
      background: var(--blue);
    }

    .deleteBtn {
      background: var(--red);
      margin-left: 1rem;
    }

    .editBtn:hover,
    .deleteBtn:hover {
      transform: rotate(-15deg);
      transition: var(--transition);
    }
  }

  .container-2 {
    position: relative;
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      min-height: 40px;
      margin-top: 1rem;
      border-radius: var(--border-radius);
      color: #fff;

      .down-icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        color: #fff;

        span {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
        }
      }

      .down-icon:hover {
        filter: brightness(70%);
      }
    }
  }
}
