.task {
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;

  .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .complete {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      font-weight: 500;
      font-family: monospace;
      letter-spacing: 1px;
      font-size: 0.9rem;

      .cancel,
      .check {
        margin-top: 0.35rem;
        margin-right: 0.25rem;
        font-size: 1.5rem;
      }

      .cancel {
        color: tomato;
        font-size: 1.65rem;
      }

      .check {
        color: var(--green-3);
        margin-right: 0.35rem;
      }
    }

    .edit-delete {
      display: flex;
      align-items: center;

      .editBtn,
      .deleteBtn,
      .completeBtn {
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        height: 40px;
        width: 40px;

        span {
          font-size: 1.25rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .deleteIcon {
          font-size: 1.05rem;
        }
      }

      .editBtn {
        text-decoration: none;
        background: var(--blue-2);
      }

      .deleteBtn {
        background: red;
        margin-left: 1rem;
      }

      .editBtn:hover,
      .deleteBtn:hover {
        filter: brightness(90%);
      }
    }
  }

  .container-2 {
    position: relative;
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      //height: 40px;
      margin-top: 1rem;
      border-radius: var(--border-radius);
      color: #fff;

      .down-icon {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;

        span {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
        }
      }

      .down-icon:hover {
        filter: brightness(90%);
      }
    }
  }

  .date {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #888;
    margin-top: 1rem;
    font-family: monospace;

    span:first-child {
      font-size: 1.25rem;
      margin-top: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}

.lowPriority {
  background: #1db954;
}

.mediumPriority {
  background: orange;
}

.highPriority {
  background: tomato;
}
