.date {
  display: flex;
  align-items: center;
  //margin-top: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #999;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  width: fit-content;
  height: 37px;

  span:first-child {
    font-size: 1rem;
    margin-top: 0.05rem;
    margin-right: 0.5rem;
  }
}
