.home {
  max-width: 750px;
  margin: 0 auto;

  .task-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    // gap: 1rem;
  }
}

@media screen and (max-width: 786px) {
  .home {
    margin: 0 1rem;
  }
}
