.categories {
  max-width: 750px;
  margin: 1rem 0.25rem 3rem 0.25rem;
  display: flex;
  justify-content: center;

  .options {
    .option {
      text-decoration: none;
      margin-right: 1rem;
      padding-bottom: 0.25rem;
    }

    .option:last-child {
      margin-right: 0;
    }

    
  }
}

.lightActive {
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

.darkActive {
  font-weight: 500;
  border-bottom: 2px solid var(--dark-2);
}
