.categories {
  max-width: 750px;
  border-radius: var(--border-radius);

  .options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    .option {
      width: calc(100% / 3);
      text-decoration: none;
      //padding-bottom: 0.25rem;
      text-align: center;
      margin: 0 2px 0 2px;
      height: 25px;
    }

    .option:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      margin: 0 2px 0 0;
    }

    .option:last-child {
      margin-right: 0;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      margin: 0 0 0 2px;
    }

    .option:hover {
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
  }
}

.lightActive {
  background: var(--blue-1);
  color: #fff;
}

.darkActive {
  background: var(--blue-1);
  color: #fff;
}
