.search-bar {
  height: 40px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: var(--border-radius);
  color: #999;
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .search-bar {
    width: 325px;
  }
}

@media screen and (max-width: 640px) {
  .search-bar {
    input {
      width: 100%;
    }
  }
}
