.search-bar {
  height: 40px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: 50px;
  color: #999;
  cursor: pointer;
  position: relative;

  .search-icon {
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 786px) {
  .search-bar {
    width: 325px;
  }
}

@media screen and (max-width: 640px) {
  .search-bar {
    width: 100%;
  }
}
