.progress-bar {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0.25rem;
  font-weight: 500;
  z-index: 1;
  background: var(--blue-1);
  border-radius: 50%;

  .percentage {
    span {
      font-size: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  .progress-bar {
    width: 75px;
    height: 75px;

    .percentage {
      span {
        font-size: 0.8rem;
      }
    }
  }
}

// .progress-bar {
//   height: 4px;
//   width: 100%;
//   margin-left: 1rem;
//   border-radius: var(--border-radius);
//   position: relative;

//   &-inner {
//     position: absolute;
//     top: 50%;
//     left: 0rem;
//     transform: translate(0, -50%);
//     height: 4px;
//     background: var(--blue-1);
//     border-radius: var(--border-radius);
//   }

//   .info {
//     margin-top: 1rem;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }
