.search-modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  transform: scaleY(0);
  transition: var(--transition);

  &-inner {
    width: 100%;
    max-width: 750px;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: var(--border-radius);
  }
}

@media screen and (max-width: 786px) {
  .search-modal {
    &-inner {
      max-width: unset;
      margin: 4rem 2rem;
    }
  }
}
