.task-detail {
  max-width: 750px;
  margin: 0 auto;

  &-inner {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow-1);

    .date-priority {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      margin-top: 0;
      border-bottom: 1px solid #999;
      padding-bottom: 1rem;

      .priority {
        color: #fff;
        padding: 0.25rem 1rem;
        border-radius: var(--border-radius);
      }
    }

    .title-description {
      margin-bottom: 1rem;

      .title {
        margin-bottom: 1rem;

        span {
          display: block;
          padding: 0.25rem 0.75rem;
          margin-bottom: 0.5rem;
          border-radius: var(--border-radius);
        }
        p {
          border-radius: var(--border-radius);
          margin-bottom: 0.5rem;
          height: 40px;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          color: #999;
        }
      }

      .description {
        margin-bottom: 1rem;

        .desc {
          display: block;
          margin-bottom: 0.5rem;
          padding: 0.25rem 0.75rem;
          border-radius: var(--border-radius);
        }

        p {
          border-radius: var(--border-radius);
          margin: 0;
          color: #999;
          padding: 1rem;

          span {
            display: block;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .delete-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--red-2);
      color: #fff;
      height: 40px;
      border-radius: var(--border-radius);
      cursor: pointer;
      margin-top: 0.5rem;

      .delete-icon {
        font-size: 1.15rem;
        margin-top: 0.35rem;
        margin-right: 0.25rem;
      }
    }

    .delete-btn:hover {
      filter: brightness(90%);
    }
  }
}

@media screen and (max-width: 786px) {
  .task-detail {
    margin: 0 1rem;
  }
}

.lightBorderBottom {
  border-bottom: 1px solid #fff;
}

.darkBorderBottom {
  border-bottom: 1px solid var(--dark-2);
}
