.task-detail {
  max-width: 750px;
  margin: 0 auto;

  &-inner {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: var(--border-radius);
    position: relative;

    .date-priority {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid #999;

      .priority {
        font-family: monospace;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        font-weight: 500;
      }
    }

    .title-description {
      margin-bottom: 1rem;

      .title {
        margin-bottom: 2rem;

        span {
          display: inline-block;
          margin-bottom: 0.5rem;
          font-weight: 500;
        }
        p {
          border-radius: var(--border-radius);
          margin-bottom: 0.5rem;
          //color: #999;
        }
      }

      .description {
        margin-bottom: 2rem;

        .desc {
          display: inline-block;
          margin-bottom: 0.5rem;
          font-weight: 500;
        }

        p {
          border-radius: var(--border-radius);
          margin: 0;
          //color: #999;

          span {
            display: block;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .delete-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--red);
      color: #fff;
      height: 40px;
      border-radius: var(--border-radius);
      cursor: pointer;
      margin-top: 0.5rem;

      .delete-icon {
        font-size: 1.15rem;
        margin-top: 0.35rem;
        margin-right: 0.25rem;
      }
    }

    .delete-btn:hover {
      filter: brightness(90%);
    }
  }
}

@media screen and (max-width: 786px) {
  .task-detail {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .task-detail {
    &-inner {
      padding: 2rem 1rem 1rem 1rem;
    }
  }
}

.lightBorderBottom {
  border-bottom: 1px solid #fff;
}

.darkBorderBottom {
  border-bottom: 1px solid var(--dark-2);
}
