.complete-tag,
.incomplete-tag {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;

  .cancel-icon,
  .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -42.5%));
    color: #fff;
    font-size: 1.5rem;
  }
}

.complete-tag {
  background: var(--green-3);
}

.incomplete-tag {
  background: var(--red-1);
}
