.edit-page > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.edit-page {
  max-width: 750px;
  margin: 0 auto;

  form {
    margin-top: 1rem;
    border-radius: var(--border-radius);
    padding: 2rem;

    .title-field,
    .description-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      span {
        margin-bottom: 0.5rem;
      }

      input {
        height: 40px;
      }

      input,
      textarea {
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        outline: none;
        border: none;
        color: #999;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
          'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
          'Helvetica Neue', sans-serif;
      }

      textarea {
        line-height: 1rem;
      }

      input:focus,
      textarea:focus {
        box-shadow: 0 0 5px var(--blue);
      }
    }

    .priorities {
      margin: 1rem 0;

      #title {
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      .options {
        display: flex;
        padding: 1rem;
        border-radius: var(--border-radius);

        .option {
          margin-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          span {
            font-weight: 400;
          }

          .check {
            height: 17.5px;
            width: 17.5px;
            border-radius: 50%;
            margin-right: 0.25rem;
          }
        }

        .option:hover {
          color: var(--blue);
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .edit-page {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .edit-page {
    form {
      padding: 1rem;
    }
  }
}
