.logout-page {
  max-width: 750px;
  margin: 0 auto;

  p {
    margin: 1rem 0;
    text-align: center;
  }

  .inner {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-1);
  }

  .logout-options {
    border-radius: var(--border-radius);
    //margin-top: 0.5rem;

    .logoutBtn-1,
    .logoutBtn-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--red-2);
      color: #fff;
      height: 40px;
      border-radius: var(--border-radius);
      cursor: pointer;

      .logout-icon-1,
      .logout-icon-2 {
        font-size: 1.15rem;
        margin-top: 0.35rem;
        margin-right: 0.25rem;
      }

      .logout-icon-1 {
        font-size: 1.25rem;
      }
    }

    .logoutBtn-1 {
      background: #777;
    }

    .logoutBtn-1:hover,
    .logoutBtn-2:hover {
      filter: brightness(90%);
    }

    .logoutBtn-2 {
      margin-top: 0.5rem;
    }
  }

  .confirm {
    border-radius: var(--border-radius);
    padding: 1rem;
    padding-bottom: 0;
    //margin-top: 1rem;

    p {
      margin: 0;
      line-height: 1.75rem;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      .cancel-btn,
      .delete-btn {
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
        cursor: pointer;
        color: #fff;
        border-radius: var(--border-radius);
        padding: 0.25rem 1rem;

        span {
          margin-right: 0.25rem;
          font-size: 1.15rem;
          margin-top: 0.35rem;
        }
      }

      .cancel-btn {
        background: var(--green-3);
        //padding-left: 0.75rem;
      }

      .delete-btn {
        background: var(--red-2);
      }

      .cancel-btn:hover,
      .delete-btn:hover {
        filter: brightness(90%);
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .logout-page {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  .logout-page {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
